
/*------ Fonts ------*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@100..900&family=Playfair+Display:wght@400&family=Josefin+Sans:wght@100&display=swap");

@font-face{
    font-family: "Cheltenham";
    src: url("fonts/cheltenham.woff2") format("woff2"),
         url("fonts/cheltenham.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Playfair Display";
    src: url("fonts/PlayfairDisplay-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Josefin Sans";
    src: url("fonts/JosefinSans-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}


:root{

/*------ Colores Background ------*/

--background: white;
--background_gray: rgb(250, 250, 250);
--background_gray_intermedio: rgb(240, 237, 237);
--background_black: rgb(14, 14, 14);
--background_black2: rgb(23, 23, 23); 
--background_dorado_light: #e9d0b2;
--background_dorado: #c59b66;
--background_dorado2:#c9a16F;
--background_dorado3:#ae8b5f;


/*------ Colores Text ------*/

    --text_white: white;
    --text_black: black;
    --text_gray: rgb(63, 63, 63);
    --text_gray_light: rgb(139, 139, 139);
    --text_brown: #b64d02;
    --text_terracota: #D08C60;
    --text_dorado: #c59b66;
    --text_dorado2:#c9a16F;
    --text_dorado3:#b08c60;

/*------ Colores Botones ------*/

    --btn_dorado: #c59b66;
    --btn_dorado2:#c9a16F;
}


*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html{
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    overflow-y: auto; 
    scroll-behavior: smooth;
}

body{
    width: 100%;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Cheltenham", "Montserrat", "Poppins", "Josefin Sans", "Playfair Display", sans-serif;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

a{
    text-decoration: none;
}

label, button{
    cursor: pointer;
}


/*------- Con esto ajusto el scroll al hacer click en los enlaces del nav ------*/
[id]{
    scroll-margin-top: 150px; 
}

/*------ Lo mismo pero para pantallas mas chicas ------*/
@media screen and (max-width: 768px){
    [id]{
        scroll-margin-top: 190px;
    }
}
