/* SECCIÓN CONTACTO */
#contacto {
    width: 100vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0; /* espacio arriba y abajo */
    background-color: var(--background_gray);
}

#contacto .form_container {
    width: 80%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    padding: 2rem 4rem;
    border-radius: 50px 0 50px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Titulo */
#contacto header h3 {
    font-size: 1.3rem;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    color: var(--background_dorado2);
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

#contacto header h3::after {
    content: "";
    display: block;
    width: 10%;
    height: 2px;
    background-color: var(--text_dorado2);
    margin: 0.5rem auto;
}

#contacto form {
    width: 100%;
}

#contacto ul {
    list-style: none;
    padding: 0;
}

#contacto li {
    margin-bottom: 1.5rem;
}

#contacto label {
    font-size: 0.85rem;
    color: var(--text_gray);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: left;
    display: block;
    margin-bottom: 0.5rem;
}

#contacto input, #contacto textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

#contacto textarea {
    height: 120px;
    resize: none;
    margin-bottom: 1rem;
}

/* Botón de enviar */
#contacto button {
    width: 20%;
    height: 100%;
    padding: 0.8rem;
    font-size: 0.85rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: var(--text_white);
    background-color: var(--background_dorado2);
    border: 3px solid var(--btn_dorado2);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    
}

#contacto button:hover {
    background-color: var(--background_dorado2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}


/* -------------------------------------------------------- */

/* Pantallas más chicas */

@media(min-width:561px) and (max-width:940px) {

    #contacto .form-container {
        width: 60%;
    }

    #contacto header h3 {
        font-size: 1.1rem;

    }

    #contacto label {
        font-size: 0.8rem;
    }

    #contacto input, #contacto textarea {
        padding: 0.7rem;
    }

    #contacto button {
        width: 25%;
        padding: 0.65rem;
        font-size: 0.8rem;
        margin-bottom: 0;
    }
}   

@media(max-width:560px){


    #contacto header h3{    
        font-size: 1rem;
    }

    #contacto .form_container {
        width: 90%;
        padding: 1.5rem;
    }

    #contacto input, #contacto textarea{
        font-size: 0.9rem;
        padding: 0.6rem;
    }

    #contacto label{
        font-size: 0.75rem;
    }
    #contacto button{
        width: 30%;
        padding: 0.65rem;
        font-size: 0.7rem;
        display: block;
        margin: 1rem auto 0;
    }
}
