body > footer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--background_black2);
    position: relative;
}

body > footer > hr{
    border: none;
    height: 1px;
    background-color: var(--background_gray);
    width: 100%;
    margin-bottom: 4rem;
}

body > footer > header h3{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color:var(--text_white);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

body > footer nav{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 3.5rem;
    margin-bottom: 2rem; /* con esto separo el nav con la ultima parte de la pag */
}

body > footer nav a{
    color: var(--text_gray_light);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-decoration: none;
}

#linea_zorzal{
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

#linea_zorzal ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

#linea_zorzal li {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    
}

#linea_zorzal img{
    width: 50px;
    height: auto;
}


#linea_zorzal h2{
    font-size: 0.75rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: var(--text_white);
    white-space: nowrap;
    margin-left: 1rem;
}

#linea_zorzal ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

#linea_zorzal ul li p{
    font-size: 0.75rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: var(--text_white);
    white-space: nowrap;
    margin-right: 2rem;
}

/* -------------------------------------------------------- */

/* Pantallas mas chicas */

@media(min-width: 561px) and (max-width: 1075px){

    #linea_zorzal {
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        position: relative;
        bottom: 0;
        text-align: center;
    }

    body > footer > header h3{
        font-size: 0.85rem;
    }

    body > footer nav{
        gap: 0.8rem;
        margin-bottom: 1rem;
    }

    body > footer nav a{
        font-size: 0.75rem;
    }

    body > footer > hr{
        margin-bottom: 1rem;
    }
    
    #linea_zorzal ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    #linea_zorzal li {
        display: inline-flex; /* Asegura que la imagen y el texto estén en línea */
        justify-content: flex-start;
        gap: 0.5rem;
    }
    
    #linea_zorzal img {
        width: 30px;
    }
    
    #linea_zorzal h2 {
        font-size: 0.7rem;
        margin: 0;
        text-align: left; /* Alinea el texto con la imagen */
    }
    
    #linea_zorzal ul li {
        text-align: center;
    }
    
    #linea_zorzal ul li p {
        text-align: center;
        align-items: center;
        font-size: 0.7rem;
        margin-top: 0.1rem; 
        margin-right: 0;
    }
}


/* -------------------------------------------------------- */


@media (max-width: 560px) {
    #linea_zorzal {
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        position: relative;
        bottom: 0;
        text-align: center;
    }

    body > footer > header h3{
        font-size: 0.85rem;
    }

    body > footer nav{
        gap: 0.8rem;
        margin-bottom: 1rem;
    }

    body > footer nav a{
        font-size: 0.75rem;
    }

    body > footer > hr{
        margin-bottom: 1rem;
    }
    
    #linea_zorzal ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    #linea_zorzal li {
        display: inline-flex; /* Asegura que la imagen y el texto estén en línea */
        justify-content: flex-start;
        gap: 0.5rem;
    }
    
    #linea_zorzal img {
        width: 30px;
    }
    
    #linea_zorzal h2 {
        font-size: 0.7rem;
        margin: 0;
        text-align: left; /* Alinea el texto con la imagen */
    }
    
    #linea_zorzal ul li {
        text-align: center;
    }
    
    #linea_zorzal ul li p {
        text-align: center;
        align-items: center;
        font-size: 0.7rem;
        margin-top: 0.1rem; 
        margin-right: 0;
    }

}
