@import url("../css/base.css");

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text_gray_light);
}

#iniciar_sesion{
    display: flex; 
    width: 700px;
    height: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    border-radius: 1rem;
    overflow: hidden; /* Para que la imagen y el formulario sigan la curva */
}

/* Imagen a la izquierda */
#contenedor_imagen{
    flex: 1; /* Ocupa la mitad del espacio */
    display: flex;
    align-items: stretch;
    justify-content: center;
}

#contenedor_imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Formulario a la derecha */
#contenedor_formulario{
    flex: 1;
    padding: 0.8rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Estilos de título */
#contenedor_formulario h1{
    font-size: 1.4rem;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    color: var(--text_dorado2);
    margin-bottom: 1.3rem;
}

#contenedor_formulario p{
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: black;
    margin-bottom: 2rem;
}

/* Estilos del formulario */
#formulario{
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
}

#formulario label{
    text-align: left;
    font-weight: 400;
    font-family: "Poppins";
    font-size: 0.7rem;
}

#formulario input{
    padding: 0.6rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    font-size: 0.7rem;
    justify-content: center;
}


/* Botón de inicio de sesión */
#formulario button{
    background-color: var(--btn_dorado2);
    color: white;
    padding: 0.6rem;
    width: 60%;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    margin-top: 1.2rem;
    align-self: center;
}

#formulario button:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.registrarse{
    font-size: 0.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: rgb(34, 34, 34);
    margin-top: 0.5rem;
}

/* Botón de "Volver al Home" */
#volver_home{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#volver_home a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text_dorado2);
    text-decoration: none;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    margin-top: 1rem;
    gap: 0.5rem;
}

#volver_home a:hover{
    text-decoration: underline;
}

#icon_home img{
    width: 20px;
    height: auto;
    display: flex;
}


/* PARA PANTALLAS MAS CHICAS */

@media screen and (max-width: 768px) {

    #iniciar_sesion{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        border-radius: 0;
        box-shadow: none;
        justify-content: flex-start;

    }

    /* Imagen de fondo */
    #contenedor_imagen{
        display: none; /* Oculta la imagen como elemento separado */
    }

    #contenedor_formulario{
        flex: 1;
        width: 100%;
        padding: 0rem 2rem;
        background: linear-gradient(
            rgba(0, 0, 0, 0.6), 
            rgba(0, 0, 0, 0.5)
        ), url("../img/Entretenimiento_09.jpg");
        background-size: cover;
        background-position: center;
        color: white;
    }

    #contenedor_formulario h1{
        color: var(--text_white);
        font-size: 1.5rem;
        margin-bottom: 3rem;
        margin-top: 0rem;
    }
    
    #contenedor_formulario p{
        color: var(--text_white);
        font-size: 0.8rem;
        margin-bottom: 2rem;
    }
    
    
    #formulario label{
        color: var(--text_white);
        font-size: 0.7rem;
        margin-bottom: 0.3rem;
    }

    #formulario input {
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: white;
        margin-bottom: 2rem;
        padding: 0.8rem;
        font-size: 0.7rem;
    }

    #formulario input::placeholder {
        color: rgba(255, 255, 255, 0.7);
    }

    #formulario button{
        font-size: 0.8rem;
        font-weight: 500;
        width: 100%;
        padding: 0.8rem;
        margin-bottom: 0.8rem;
    }

    .registrarse{
        color: var(--text_white);
        font-size: 0.8rem;
    }

    #volver_home a{
        color: var(--text_white);
        font-size: 1.1rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    #icon_home img{
        filter:brightness(0) invert(1);
    }
}