/*------ SECCIÓN RESERVA ------*/

/*------ Estilos para la sección de reserva ------*/
#reserva{
    width: 100vw;
    min-height: 42vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8rem 3.5rem;
    position: relative;
    overflow: hidden;
    gap: 5rem;
}

/*------ Filtro de blanco y negro SOLO para el fondo ------*/
#reserva::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/fondo_reserva.jpg") no-repeat center center/cover;
    background-size: cover;
    
    filter: grayscale(100%); /* Convierte SOLO el fondo en blanco y negro */
    opacity: 0.2; /* Ajusta la claridad del fondo (0.1 - 0.5 según prefieras) */
    z-index: -1; /* Mantiene el fondo detrás del contenido */
}

#reserva header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 6rem;
    color: var(--text_black);
}

#reserva h3{
    font-size: 1.5rem;
    text-align: left;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: var(--background_dorado2);
    padding-bottom: 2rem;
}

#reserva h3::after{
    content: "";
    display: block;
    width: 20%;
    height: 2px;
    background-color: var(--text_dorado2);
    display: block;
    margin: 0;
}

#reserva p {
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
    line-height: 1.6rem;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

#reserva h2{
    font-size: 1.4rem;
    font-family: "Poopins", serif;
    font-weight: 550;
    color: var(--background_dorado2);
}

#reserva ul{
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    list-style: none;
    padding: 0;
    margin-right: 5rem;
}

#reserva li{
    transition: transform 0.3s ease-in-out;
}

/* efecto al pasar el maouse */
#reserva li:hover{
    transform: scale(1.1); 
}

#reserva img{
    width: 100px;
    filter: none; /* para que conserven su color original */
    border-radius: 25px 25px 25px 0px;
}


/* -------------------------------------------------------- */

/*------ Pantallas mas chicas ------*/

@media(min-width:561px) and (max-width: 1075px) {
    
    #reserva{
        padding: 3rem 3rem;
        gap: 2rem;
    }

    #reserva header{
        margin-left: 0rem;
        min-width: 170px;
    }

    #reservas h3{
        font-size: 1.1rem;
    }

    #reserva p{
        font-size: 0.8rem;
        line-height: 1.4rem;
    }

    #reserva h2{
        font-size: 1.1rem;
    }

    #reserva ul{
        gap: 1rem;
        margin-right: 0rem;
    }

    #reserva img{
        width: 80px;
    }
}

/* -------------------------------------------------------- */

@media(min-width:301px) and (max-width:560px){
    
    #reserva{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 3rem 1rem;
        gap: 2rem;
    }
    
    #reserva header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 1rem;
    }
    
    #reserva h3{
        font-size: 1.1rem;
        margin-top: 2rem;
    }

    #reserva h3::after{
        width: 20%;
        margin: 0.5rem auto;
    }
    
    #reserva h2{
        font-size: 1.1rem;
        padding-bottom: 1rem;
    }
    
    #reserva p{
        font-size: 0.8rem;
        line-height: 1.4rem;
        text-align: center;
        max-width: 380px;
        margin-bottom: 1rem;
    }
    
    #reserva ul{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 2rem;
        margin-right: 0;
    }
    
    #reserva img{
        width: 80px;
    }
}


/* -------------------------------------------------------- */

@media(max-width:300px){
    
    #reserva{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem 1rem;
        gap: 2rem;
    }
    
    #reserva header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 1rem;
    }
    
    #reserva h3{
        font-size: 1.1rem;
        margin-top: 2rem;
    }

    #reserva h3::after{
        width: 20%;
        margin: 0.5rem auto;
    }
    
    #reserva h2{
        font-size: 1.1rem;
        padding-bottom: 0.5rem;
    }
    
    #reserva p{
        font-size: 0.8rem;
        line-height: 1.4rem;
        text-align: center;
        max-width: 380px;
        margin-bottom: 1rem;
    }
    
    #reserva ul{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 1.1rem;
        margin-right: 0;
        margin-bottom: 3rem;
    }
    
    #reserva img{
        width: 75px;
    }
}

